<!--Manager Info-->

<div class="contact hovercard">
    <div class="cardheader">
        <div class="heading">
            {{name}}
        </div>

        <div class="icon">
            <img src="../images/Manager.ico"></img>
            {{role}}
        </div>
    </div>
    <div class="card-body">
        <div class="desc">
            <ul class="groupList list-group-flush">
                <li class="list-group-item">ID: {{id}}</li>
                <li class="list-group-item">Email: {{email}}</li>
                <li class="list-group-item">Office: {{officeNumber}}</li>
            </ul>
        </div>
    </div>
</div>